@import "tailwindcss";



@theme {
  --color-primary:#512D7E;
  --color-secondar:#F0C06E;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-heading: "Playfair Display", sans-serif;
  --font-body: "Montserrat", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-size: 16px;
  font-family: theme(--font-body), sans-serif;
}

h1, h2,h3,h4 {
  font-family: theme(--font-heading), sans-serif;
}
